.layout {
    width: 100%;
    /* 最大宽度 */
    max-width: 640px;
    /* 最小宽度 */
    min-width: 320px;
    margin: 0 auto;
    background-color: #fff;
    font-family: Microsoft Yahei;
    box-sizing: border-box;
}
.part1 {
    border-radius: 12px;
}
.part2 {
    border-radius: 12px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: none;
    color: rgb(127, 127, 127);
}
.search {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 44px;
    background-color: #F8EEEC;
}
.user {
    width: 44px;
    height: 44px;
}    
.tingeshiqu {
    width: 44px;
    height: 44px; 
    margin-top:0%
    
    
}
/* 伪元素插入图片 没成功*/
/* .searchbox::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: url(images/sprites.png) no-repeat -172px -79px;
    
} */
.searchbox {
    flex: 1;
    height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    padding-left: 30px;
}
/* 焦点动图 */
.focus {
    padding-top: 40px;
}
.focus img {
    width: 100%;
}
/* 局部导航栏 */
.local-nav {
    display: flex;
    height: 82px;
    background-color: #fff;
    margin-top: 6px;
}
.local-nav li {
    flex: 1;
}
.local-nav a {
    display: flex;
    flex-direction: column;
    /* 侧轴居中对齐 */
    align-items: center;
    font-size: 16px;
}
.local-nav-icon img {
   width: 50px; 
   height: 50px; 
   margin-top: 10px;
}   
/* 一条灰色的线 */
.huisexian {
    border-top: 1px solid rgb(231,231,231);
    width: 640px;
    margin-top: 20px;
}
/* 推荐歌单 */
.recommend {
    display: flex;
    height: 41px;
    margin-top: 15px;
    justify-content: space-between;
}
.tuijiangedan {
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
}
.more {
    position: relative;
}

#find-more{  
    position: relative; 
    top: 30%;
    transform: trans;
    width: 100px;
    border: solid red;
    border-radius: 17px;
    color: black;
    background-color: #fff;
    padding: 4px 7px;
    font-weight: 700;
}
/* 推荐歌单下的三张图片 */
.local-pic {
    display: flex;
    height: 164px;
    background-color: #fff;
    margin-top: 6px;
    
}
.local-pic li {
    flex: 1;
}
.local-pic a {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    
}
.local-picture-icon-icon1  {
    width: 174px; 
    height: 174px; 
    margin-top: 5px;
    align-self: flex-start;
   
}
.local-picture-icon-icon2  {
    width: 174px; 
    height: 174px; 
    margin-top: 5px;
    align-self: center;
    
}
.local-picture-icon-icon3  {
    width: 174px; 
    height: 174px; 
    margin-top: 5px;
    align-self: flex-end;
}
.word-1 {
    width: 174px;
    font-weight: 400;
}
.word-2 {
    width: 174px;
    padding-left: 10%;
    font-weight: 400;
}
.word-3 {
    width: 174px;
    padding-left: 20%;
    font-weight: 400;
}
/* 推送栏 */
.push-box {
    margin-top: 58px;
    border-top: 20px solid  rgb(245,245,245);
    background-color: #fff;
    
}

.push-hd {
    position: relative;
    height: 54px;
    border-bottom: 2px solid  rgb(62,173,206);
}

.play {
    font-weight: 700;
    position: absolute;
    right: 5px;
    top: 5%;
    background: -webkit-linear-gradient(left, #FF506C, #FF6BC6);
    border-radius: 15px;
    padding: 4px 10px;
}
.local-rcm {
    display: flex;
    height: 200px;
    background-color: #fff;
    margin-top: 5px;
    flex-direction: column;
    border-radius: 8px;
}
.local-rcm li {
    flex: 1;
}
.local-rcm a {
    display: flex;
    
}
.local-rcm-icon img{
    width: 70px;
    height: 70px;
    
}
p {
    font-weight: 400;
    font-size: 1.1em;
    color: black;
    
}
.comment-1 {
    width: 550px;
    margin-left: 10px;
    border-bottom: 2px solid rgb(243,243,243) ;
}
.comment-2 {
    width: 550px;
    margin-left: 10px;
}
.word {
    width: 52px;
    border-radius: 13px;
    background-color:rgb(255,241,232);
    color: rgb(251,132,78);
    font-size: 11px;
    padding: 4px;
    margin: 2px;
}






