.layout {
    width: 100%;
    /* 最大宽度 */
    max-width: 640px;
    /* 最小宽度 */
    min-width: 320px;
    margin: 0 auto;
    background-color: #fff;
    font-family: Microsoft Yahei;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(127, 127, 127);
}
.search {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 44px;
    background-color: #F8EEEC;
}
.user {
    width: 44px;
    height: 44px;
}    
.tingeshiqu {
    width: 44px;
    height: 44px; 
    margin-top:0%
    
    
}
/* 伪元素插入图片 没成功*/
/* .searchbox::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: url(images/sprites.png) no-repeat -172px -79px;
    
} */
.searchbox {
    flex: 1;
    height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    padding-left: 30px;
}
/* 焦点动图 */
.focus {
    padding-top: 40px;
}
.focus img {
    width: 100%;
}
/* 局部导航栏 */
.local-nav {
    display: flex;
    height: 82px;
    background-color: #fff;
    margin-top: 6px;
}
.local-nav li {
    flex: 1;
}
.local-nav a {
    display: flex;
    flex-direction: column;
    /* 侧轴居中对齐 */
    align-items: center;
    font-size: 16px;
}
.local-nav-icon img {
   width: 50px; 
   height: 50px; 
   margin-top: 10px;
}   
/* 一条灰色的线 */
.huisexian {
    border-top: 1px solid rgb(231,231,231);
    width: 640px;
    margin-top: 20px;
}
/* 推荐歌单 */
.recommend {
    display: flex;
    height: 41px;
    margin-top: 15px;
    justify-content: space-between;
}
.tuijiangedan {
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
}
.more {
    border-radius: 70px;
    /* margin-top: 10px; */
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* 推荐歌单下的三张图片 */
.local-pic {
    display: flex;
    height: 164px;
    background-color: #fff;
    margin-top: 6px;
}
.local-pic li {
    flex: 1;
}
.local-pic a {
    display: flex;
    flex-direction: column;
    /* 侧轴居中对齐 */
    align-items: center;
    font-size: 16px;
}
.local-picture-icon-icon1 img {
    width: 164px; 
    height: 164px; 
    margin-top: 5px;
    margin-left: 0%;
}
.local-picture-icon-icon2 img {
    width: 164px; 
    height: 164px; 
    margin-top: 5px;
    
}
.local-picture-icon-icon3 img {
    width: 164px; 
    height: 164px; 
    margin-top: 5px;
    margin-right: 0%;
}






